BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 200
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveMacros: AcrossEmptyLines
# AlignTrailingComments: Always
AllowShortFunctionsOnASingleLine: Inline