BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 150
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
# AlignTrailingComments: Always
AllowShortFunctionsOnASingleLine: Inline